.home {
  height: 100vh;
  background-image: url('/hero_image.jpg');
  background-size: cover;
  background-position: center;
}

.container {
  padding: 3em 2em;
}

.title,
.description {
  text-align: start;
}

@media (min-width: 320px) {
  h1.title {
    font-size: 2em;
  }
}

@media (min-width: 576px) {
  h1.title {
    font-size: 2.6em;
  }
}

@media (min-width: 768px) {
  h1.title {
    font-size: 3.7em;
  }
}

@media (min-width: 992px) {
  h1.title {
    font-size: 5em;
  }
}

@media (min-width: 1200px) {
  h1.title {
    font-size: 6em;
  }
}

div.join_room {
  padding-inline-start: 1.5em;
}

form.join_room {
  padding-bottom: 1em;
}

h1.form {
  font-size: 150%;
}

input.form {
  font-size: 90%;
  background-color: #f5efd4;
  border: none;
  padding: 1em;
  min-width: 21em;
}

button.form {
  font-size: 100%;
  background-color: #d6bc47;
  border: none;
  padding: .8em 3em;
}
