.presenterContainer {
  display: flex;
  flex-direction: row-reverse;
}

#presenterWrapper {
  position: relative;
}

#controlsWrapper {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 5%;
  background: #f22f46cc;
}

.controlsContainer {
  display: flex;
  justify-content: space-around;
  padding: .5em;
}