.presenterContainer {
  display: flex;
  flex-direction: row-reverse;
}

#presenterWrapper {
  position: relative;
}

#controlsWrapper {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 5%;
  background: #f22f46cc;
}

.controlsContainer {
  display: flex;
  justify-content: space-around;
  padding: .5em;
}

#connectControl {
  width: 40em;
  padding: 1em 0;
  border: none;
  text-align: center;
  font-size: 100%;
  background-color: #d6bc47;
}