.connectContainer {
  display: flex;
  flex-direction: row-reverse;
}

#connect {
  padding-top: 1em;
}

#connectControl {
  width: 40em;
  padding: 1em 0;
  border: none;
  text-align: center;
  font-size: 100%;
  background-color: #d6bc47;
}